@page "/ChangePassword/{email}"


@using Blog.Logic.Dto.UserDtos;
@inject Blog.Logic.Services.Interfaces.IUserService _userService
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject NotificationService NotificationService



<h3>Change Your Password</h3>

@code {

    [Parameter]
    public string email { get; set; }

    PasswordUserDto userDto = new PasswordUserDto();

    private async void ChangeUserPassword()
    {
        userDto.Email = email;
        if (_userService.ChangePassword(userDto).IsCompletedSuccessfully)
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Info, Summary = "Password Changes Sucessfuly", Duration = 3500 });
            await Task.Delay(2000);
            NavigationManager.NavigateTo("/UserInformation", forceLoad: true);
        }
    }
}

<EditForm Model="userDto">

    <label>
        Enter your current password::<br />
        <input type="password" @bind="userDto.OldPassword" /><br /><br />
    </label><br />

    <label>
        Enter a new password:<br />
        <input type="password" @bind="userDto.NewPassword" /><br /><br />
    </label><br />

    <label>
        Confirm new password:<br />
        <input type="password" @bind="userDto.ConfirmedNewPassword" /><br /><br />
    </label><br />

    <input type="submit" value="Submit" @onclick="ChangeUserPassword" />


    <DataAnnotationsValidator />
    <ValidationSummary />

</EditForm>

