@page "/ChangePassword/{email}"


@using Blog.Logic.Dto.UserDtos;
@inject Blog.Logic.Services.Interfaces.IUserService _userService
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject NotificationService NotificationService



<h3>Change Your Password</h3>

@code {

    [Parameter]
    public string email { get; set; }

    PasswordUserDto userDto = new PasswordUserDto();

    private async void ChangeUserPassword()
    {
        userDto.Email = email;
        try
        {
            await _userService.ChangePassword(userDto);
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Password Changes Sucessfuly", Duration = 3500 });
            Task.Delay(3500);
            NavigationManager.NavigateTo("/UserInformation", forceLoad:true);
        }
        catch(Exception e)
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = $"{e.Message}", Duration = 3000 });
        }

    }
}

<EditForm Model="userDto" OnValidSubmit="ChangeUserPassword">

    <div class="form-group col-md-4 mb-2">
        <label for="Password">Password</label>
        <InputText type="Password" class="form-control" placeholder="Password" @bind-Value="@userDto.OldPassword" />
    </div>

    <div class="form-group col-md-4 mb-2">
        <label for="Password">Password</label>
        <InputText type="Password" class="form-control" placeholder="Password" @bind-Value="@userDto.NewPassword" />
    </div>

    <div class="form-group col-md-4 mb-2">
        <label for="Password">Password</label>
        <InputText type="Password" class="form-control" placeholder="Password" @bind-Value="@userDto.ConfirmedNewPassword" />
    </div>

    <input type="submit" value="Submit" />


    <FluentValidationValidator />
    <ValidationSummary />

</EditForm>

