@page "/LogUser"

@using Blog.Logic.Dto

@inject Blog.Logic.Services.Interfaces.IUserService _userService
@inject NavigationManager NavManager


@code {
    private LoginUserDto user = new LoginUserDto();

    private void Login()
    {

    }
}
<h3>Login</h3>
<h3>Login</h3>
<h3>Login</h3>
<h3>Login</h3>
<h3>Login</h3>

