@page "/LogUser"

@using Blog.Logic.Dto

@inject Blog.Logic.Services.Interfaces.IUserService _userService
@inject NavigationManager NavManager


@code {
    private LoginUserDto user = new LoginUserDto();

    private void Login()
    {
        string cos = _userService.VerifyUser(user);
    }
}
<h3>Login Panel</h3>

<EditForm Model="user">


    <label>
        Email:<br />
        <input type="email" @bind="user.Email" /><br /><br />
    </label><br />

    <label>
        Password:<br />
        <input type="password" @bind="user.Password" /><br /><br />
    </label><br />

 

    <input type="submit" value="Submit" @onclick="Login" />



</EditForm>


