################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blog.Data/Repositories/Interfaces/IUserRepository.cs
/.vs/Blog/FileContentIndex/14b774a8-776c-4fda-ac6f-657f35587fbc.vsidx
