################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Blog.Data/Repositories/Interfaces/IUserRepository.cs
/.vs/BlazorBlog/FileContentIndex
/.vs/Blog/FileContentIndex/fc2f483c-ca89-4334-a5b3-389ec3583d5a.vsidx
