<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://verificationemailsender.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/e3137142-d2b3-47ff-9631-b7360c1f4a64/resourcegroups/BlazorBlog/providers/Microsoft.Web/sites/VerificationEmailSender</ResourceId>
    <UserName>$VerificationEmailSender</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://verificationemailsender.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>