@page "/CreatePost"

@using Blog.Logic.Dto.PostDtos;
@inject Blog.Logic.Services.Interfaces.IPostService _postService


@code {

    PostDto post = new PostDto();
    
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private void SendPost()
    {
        post.CreatedBy = authenticationState.Result.User.Identity.Name;

        _postService.Add(post);
    }
}


<h4>Add Post for others</h4>

<EditForm Model="post">

    <div class="mb-3">
        <label for="Title" class="form-label">Title</label>
        <input type="text" class="form-control" placeholder="Title" @bind="@post.Title">
    </div>
    <div class="mb-3">
        <label class="form-label">Tell others what you think</label>
        <textarea class="form-control"  rows="25" @bind="post.Description"></textarea>
    </div>

    <button type="button" class="btn btn-primary btn-lg" @onclick="SendPost">Publish</button>


</EditForm>