@page "/CreatePost"


<h3>Create Post</h3>

@inject Blog.Logic.Services.Interfaces.IPostService _postService

@code {

    PostDto post = new PostDto();
    
    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private void SendPost()
    {
        post.CreatedBy = authenticationState.Result.User.Identity.Name;

        _postService.Add(post);
    }
}


<h4>@authenticationState.Result.User.Identity.Name Add Post Panel</h4>

<EditForm Model="post">


    <label>
        Title:<br />
        <input type="text" @bind="post.Title" /><br /><br />
    </label><br />

    <label>
        Description:<br />
        <input type="text" @bind="post.Description" /><br /><br />
    </label><br />



    <input type="submit" value="Submit" @onclick="SendPost" />



</EditForm>