@page "/CreatePost"


@inject Blog.Logic.Services.Interfaces.IPostService _postService
@inject Microsoft.AspNetCore.Components.NavigationManager NavManager
@inject NotificationService NotificationService


@code {

    PostDto post = new PostDto();
    private List<string> selectedTags = new List<string>();
    string newTagInput = "";

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private async void SendPost()
    {
        try
        {
            post.CreatedBy = authenticationState.Result.User.Identity.Name;
            _postService.Add(post, selectedTags);
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Success, Summary = "Post Added Succesfully", Duration = 2500 });
            await Task.Delay(2500);
            NavManager.NavigateTo("/", true);
        }
        catch(Exception e)
        {
            NotificationService.Notify(new NotificationMessage { Severity = NotificationSeverity.Error, Summary = "Some Problems Occur", Duration = 3000 });
        }

    }
    public void AddToTagList()
    {
        var newTags = newTagInput.Split(' ', StringSplitOptions.RemoveEmptyEntries)
                            .Where(val => !selectedTags.Contains(val))
                            .Distinct();

        selectedTags.AddRange(newTags);
        newTagInput = "";
    }
    private string ConvertTagDesign()
    {
        return string.Join(" ", selectedTags.Select(tag => $"#{tag}"));
    }
}


<h4>Add Post for others</h4>

<EditForm Model="post" style="width:100%; height:80vh;" OnValidSubmit="SendPost">

    <FluentValidationValidator />
    

    <div class="form-group col-md-4 mb-2 w-100">
        <label for="Title">Title</label>
        <InputText type="Text" class="form-control" placeholder="Title" @bind-Value="@post.Title" />
    </div>

    <div class="form-group col-md-4 mb-2 w-100 h-75">
        <label for="Description">Description</label>
        <InputTextArea type="Text" class="form-control" style="height:80%" placeholder="Description" @bind-Value="@post.Description" />
    </div>

    <div>Tags: @ConvertTagDesign()</div>

    <div class="form-group col-md-4 mb-5 w-100">
        <label for="Tags">Tags</label>
        <InputText style="width:45vw;" type="Text" class="form-control" placeholder="Tags separate by white space" @bind-Value="newTagInput" />
        <button @onclick="AddToTagList" type="button" class="btn btn-primary btn-lg mt-4">Add To tag List</button>
    </div>

    <button type="submit" class="btn btn-primary btn-lg">Publish</button>


    <div style="margin-top:2vh;">
        <ValidationSummary />
    </div>
</EditForm>