@page "/AllPosts"

@using Blog.Logic.Dto.PostDtos;
@inject Blog.Logic.Services.Interfaces.IPostService _postService



<h3>Posts created by our users</h3>


@code {
    IEnumerable<PostDto> posts;

    protected override async Task OnInitializedAsync()
    {
        posts = _postService.GetAll();
    }
}


<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Body Of Post</th>
            <th>Added by User</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in posts)
        {
            <tr>
                <td>@post.Title</td>
                <td>@post.Description</td>
                <td>@post.CreatedBy</td>
            </tr>
        }
    </tbody>
</table>