@page "/MyPost"


<h3>Posts created by our users</h3>

@inject Blog.Logic.Services.Interfaces.IPostService _postService

@code {

    IEnumerable<PostDto> posts;

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var username = authenticationState.Result.User.Identity.Name;
        posts = _postService.GetAllEditableAndDeletableByUser(username);
    }
}


<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Body Of Post</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in posts)
        {
            <tr>
                <td>@post.Id</td>
                <td>@post.Title</td>
                <td>@post.Description</td>
                <td><button>Edit</button> <button>Delete</button></td>
            </tr>
        }
    </tbody>
</table>