@page "/"

@using Blog.Logic.Dto.PostDtos;
@inject Blog.Logic.Services.Interfaces.IPostService _postService



@code {
    IEnumerable<PostDto> posts;

    protected override async Task OnInitializedAsync()
    {
        posts = _postService.GetAll();
    }
}




<div class="container m-0 p-0">

    <div class="card-columns">

        @foreach (var post in posts)
        {

            <div class="card d-inline-block w-25" style="margin-left: 5.9vw; margin-top:3.2vh; height:auto;">

                <div class="card-body">
                    <h5 class="card-title">@post.Title</h5>
                    <p class="card-text">@post.Description.Substring(0,50) ...</p>
                    <p class="card-text"><small class="text-muted">Author: @post.CreatedBy</small></p>
                </div>
            
            </div>
        }

    </div>

</div>