@inherits LayoutComponentBase

@using Blog.Logic.Authentication
@inject NavigationManager NavManager

<PageTitle>Blog</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized> 
                    <a href="UserInformation">@context.User.Identity.Name</a>
                </Authorized>
                <NotAuthorized>
                    <a href="AddUser">Register</a>
                    <a href="Login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>



