@inherits LayoutComponentBase

@using Blog.Logic.Authentication
@inject NavigationManager NavManager
@inject AuthenticationStateProvider authenticationStateProvider

<PageTitle>Blog</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized> 
                    
                    <a @onclick="Logout" href="javascript:void(0)"><h4>@context.User.Identity.Name</h4></a>
                </Authorized>
                <NotAuthorized>
                    <a href="LogUser">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>


@code{
    private async Task Logout()
    {
        var customAuthenticationStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;

        await customAuthenticationStateProvider.UpdateAuthenticationState(null);

        NavManager.NavigateTo("/", true);
        
    }
}
