@inherits LayoutComponentBase

@using Blog.Logic.Authentication
@inject NavigationManager NavManager
@inject AuthenticationStateProvider authenticationStateProvider

<PageTitle>Blog</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>

                <Authorized> 
                     <RadzenMenu>
                        <RadzenMenuItem Text="@context.User.Identity.Name" Icon="account_circle">
                            <RadzenMenuItem Text="Log Out" Click="Logout" Icon="logout"></RadzenMenuItem>
                            <RadzenMenuItem Text="Account" Icon="info" Path="/UserInformation"></RadzenMenuItem>
                        </RadzenMenuItem>
                    </RadzenMenu>
                </Authorized>

                <NotAuthorized>
                    <a href="AddUser">Register</a>
                    <a href="Login">Login</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code{

    [CascadingParameter]
    private Task<AuthenticationState> authenticationState { get; set; }

    private async Task Logout()
    {
        var customAuthenticationStateProvider = (CustomAuthenticationStateProvider)authenticationStateProvider;

        await customAuthenticationStateProvider.UpdateAuthenticationState(null);

        NavManager.NavigateTo("/", true);
    }
}



